<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<p><%= @task.completed %></p>
<%= link_to 'Edit', edit_task_path(@task) %>
<!-- app/views/restaurants/show.html.erb -->

<%= link_to "Delete",
  task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
